# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/
*.swp

# Dependency directories
bower_components/

# Build files
/dist/
/build/

# Coverage reports
coverage/
